
@media screen and (max-width: 1140px) {
    .container {
        width: auto;
    }
}

@media screen and (max-width: 768px){
    .container {
        width: auto;
    }
}
@media screen and (max-width: 480px) {
    .container {
        width: auto;
    }
    .lessons .col {
        width: 90%;
    }
    .card{
        margin-bottom: 20px;
    }
    .steps {
        margin: 0;
        padding: 0;
    }
    .why-us {
        margin: 0 auto;
        padding-top: 50px;     
    }
    .lessons {
        padding-bottom: 50px;
    }
    .steps .col {
        width: 90%;
    }
    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .why-us {
        background-color: rgba(34,34,34,255);
        margin: 0 auto;
    }

    .why-us .col-left {
        width: 100%;
    }
    .why-us .col-right {
        width: 100%;
        margin-top: 50px;
        text-align: left;
    }

    h2, h1 {
        font-size: 3rem;
    }
    
}